body {
    margin: 0;
    background-size: cover;
   background-image: url(img/202559.jpg);
}

#menu {
    width: 100%;
    height: 60px;
    background-color:red; 
    display: table;
    
    
}
#menu img {
    height: 55px;
    margin-left: 30px;
}

#menu.link{
    float:right;

}

.linkMenu {
    color: aliceblue;
    font-size: 2em;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
    width: 150px;
    display: table;

}

.parte1 {
    width: 100%;
    height: 800px;
   float: right;
}
.parte1 img{
    height: 500px;
}
.parte1 h1{
    color: red; 
    float: right;
}
.parte1 p {
    font-family: 'Times New Roman', Times, serif; 
    color: aliceblue;   
} 

header {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;

    position: fixed;
    z-index: 1;
    top: 0;
}
nav {
    width: 100%;
    height: 200px;
}
@media screen and (max-width: 998px) {
    .banner {height: 480px; padding: 0px 20px }
    .banner .texto {font-size: 24px; }
    .banner h1 { font-size: 28px;}
    .banner p { font-size: 14px; margin-top: 90px; }
    .banner img {width: 40%; height: 300px; margin-top: 90px; }
    .banner a { padding: 3px 10px; background-color: rgb(255, 255, 255);
        font-size: 12px; color:floralwhite; text-decoration: none; }

}

@media screen and (max-width: 768px) {
    .banner { padding: 0px 20px 20px }
    .banner .texto {width: 100%; text-align: center; margin-top: 20px;}
    .banner h1 { font-size: 18px; }
    .banner p {font-size: 12px; margin-top: 20px;}
    .banner img {width: 100%; height: 300px; margin-top: 20px; float: none;}
   
}
