body{
    background-color: black;
    margin: 0;
}
header{
    width: 100%;
    height: 7vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 80%;
}
header nav{
    width: 50%;
   display: flex;
   justify-content: space-evenly;
}
.link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.hamburger{
    display: none;
}
.p1{
    background-image:url(img/tierra-espacio-exterior-blog.jpg);
    width: 100%;
    height: 60vh;
    margin: 0;
    padding: 1px;
}
.p1 .titulo{
    width: 40%;
    height: 100%;
    text-align: center;
}
.titulo h1{
    font-size: 70px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}
.titulo h2{
    font-size: 20px;
    color:red;
}
.titulo image{
    width: 10%;
}

@media screen and (max-width: 768px){
    .hamburger{
        display: inline;
    }
    header nav{
        display: none;
    }
    .parte1 .titulo{width: 100%;}
    .titulo h1{font-size: 40px;}
    .titulo h2{font-size: 20px;}
}